.NavigationItems {
   display: none;
}
@media (min-width: 500px) {
    .NavigationItems {
        display: flex;
        align-items: center;
        height: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
    }
}